[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-microservices-project/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-microservices-project/products-microservice.git
